<html>
<head>
  <title>Simple Form</title>
</head>
<body>
  <form action="/weather/location" method="POST">
    <label for="name">Name:</label>
    <input type="text" type="text" placeholder="Name" name="name">
    <input type="submit" value="Submit">
  </form>
</body>
</html>